* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", serif;
}
body {
  background-color: white; /* Soft light blue for inviting feel */
  color: #333;
  font-size: 16px;
}
.app-header {
  background-color: white; /* Warm blue */
  color: black;
  padding: 20px 0;
  text-align: center;
  height: 6rem;
  display: flex;
  justify-content: space-between;
}
header h1 {
  font-size: 36px;
  font-weight: 600;
  margin-left: 2rem;
  color: #4e3b31;
}
header p {
  margin-right: 2rem;
  margin-top: 1rem;
}
main {
  /* padding: 50px 20px; */
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 30px; */
}
.color-box {
  width: 120px;
  height: 120px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  cursor: pointer;
}
.color-box:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.hex-code {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.input-box-container {
  /* position: relative; */
  background-color: white;
  /* border: 1px solid #d4c6b0; */
  height: 4.5rem;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#query {
  padding: 12px 18px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  width: 100%;
  max-width: 25em;
  height: 100%;
  outline: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
#query:focus {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
button {
  background-color: #7b5b3a; /* Matching button with header */
  color: #fff;
  font-size: 18px;
  padding: 20px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 1rem;
  /* margin-top: 20px; */
  /* height: 100%; */
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #4e3b31;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #007acc;
  color: #fff;
  margin-top: 50px;
}
