<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Palette Generator</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="app.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Header -->
    <header class="app-header">
      <h1 class="app-title">AI Color Palette Generator</h1>
      <p>
        Generate beautiful color palettes effortlessly with our AI-powered tool.
      </p>
    </header>

    <!-- Main content -->
    <main>
      <!-- Form for user input -->
      <div class="input-box-container">
        <input
          type="text"
          id="query"
          placeholder="Enter a prompt to generate color palette"
        />
        <button onclick="submitForm()">Generate Palette</button>
      </div>

      <!-- Palette container -->
      <div class="container" id="paletteContainer">
        <!-- Color boxes will be inserted here dynamically -->
      </div>
    </main>

    <!-- Footer -->

    <script src="app.js"></script>
  </body>
</html>
