<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Palette Generator</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="app.css" />
  </head>

  <body>
    <!-- Header -->
    <header>
      <h1>AI Color Palette Generator</h1>
    </header>

    <!-- Main content -->
    <main>
      <p>
        Generate beautiful color palettes effortlessly with our AI-powered tool.
      </p>

      <!-- Form for user input -->
      <div class="input-box-container">
        <input
          type="text"
          id="query"
          placeholder="Enter a prompt to generate color palette"
        />
        <button onclick="submitForm()">Generate Palette</button>
      </div>

      <!-- Palette container -->
      <div class="container" id="paletteContainer">
        <!-- Color boxes will be inserted here dynamically -->
      </div>
    </main>

    <!-- Footer -->

    <script src="app.js"></script>
  </body>
</html>
